@import 'tailwindcss';

app-navbar {
  display: block;
  min-height: 64px;
}

app-footer {
  display: block;
}

app-item-list {
  display: block;
  width: 100%;
}

app-item-card {
  display: block;
  height: 100%;
}
